<div class="bubble">
        <div class="content">
          <p class="copy_title"><strong><%= comment.name %></strong></p>
          <p class="copy"><%= comment.body %></p>
        </div>
        <p class="time"><%= Time.zone.now %></p>

        <% if user_signed_in? %>
        <p><%= link_to 'Delete', [comment.post, comment],
                        method: :delete,
                        class: "button_comments",
                        data: { confirm: 'Are you sure?'} %>
        </p>
        <% end %>
      </div>
