<div id="page_wrapper">
	<div id="profile">
		<%= image_tag "avatar.png", class:"imgabout" %>
	</div>

	<div id="content">
		<h1>Hey, I'm FLorian Lahitte</h1>
		<p>Welcome to my Movie Blog.</p>
		<p>This week I built a blog in Rails 5. You're actually on the demo application right now. Cool stuff, right!.</p>
		<p>If you'd like to follow me on <a href="https://github.com/captainflo" target="_blank">Github</a> or on <a href="https://www.linkedin.com/in/florianlahitte"target="_blank">Linkedin</a>
		, or if you want see my <a href="http://eepurl.com/02olT">Resume</a>.</p>
	</div>
</div>
