<% @posts.each do |post| %>
<div class="post_wrapper">
  <div class="bubble_attachement">
    <div class="preview">
      <% if @posts.any? %>
       <%= image_tag post.image.url(:large) %>
   <% end %>
    </div>
    <div class="content">
      <h2 class="title"><%=link_to post.title, post %></h2>
      <p class="description"><%= post.body %></p>
      <p class="date"><%= post.created_at.strftime("%B, %d, %Y") %></p>
    </div>
  </div>
</div>
<% end %>
